@import "../../styles/utils.less";
.rooms {
  &:extend(.flex-col);
  padding: 30px 20px;
  .rooms--room-container {
    &:extend(.flex-row);
    margin-bottom: 15px;
  }
  .room {
    margin: 0 7px;
  }
  .rooms--submit-container {
    margin: 0 7px;
  }
  .rooms--submit-button {
    font-size: 14px;
    padding: 10px;
    border-radius: 3px;
    background: #3b99fc;
    color: white;
    border-width: 0;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
      background: lighten(#3b99fc, 10%);
    }
  }
}