@import "../../styles/utils.less";
@room-font-size: 14px;
@room-active-bg-color: #ddd;
@room-disabled-bg-color: #dbdbe3;
.room {
  &:extend(.flex-col);
  flex: 1 1 auto;
  max-width: 125px;
  border: 3px solid @room-active-bg-color;
  border-radius: 6px;
  color: #1f1f1f;
  .room--header {
    background-color: @room-active-bg-color;
    padding: 5px;
    &:extend(.flex-row);
  }
  .room--header-title {
    font-size: @room-font-size;
    font-weight: bold;
  }
  .room--header-checkbox+.room--header-title {
    margin: 0 7px;
  }
  .room--body {
    &:extend(.flex-row);
    padding: 10px 0;
  }
  .room--selection-container {
    &:extend(.flex-col);
    padding: 0 10px;
    flex: 1 1 auto;
  }
  label.room--checkbox-label {
    font-size: @room-font-size - 2;
    margin-bottom: 5px;
  }
  select {
    font-size: @room-font-size - 2;
  }
}

.room.disabled {
  border-color: darken(@room-disabled-bg-color, 5%);
  .room--header-title {
    font-weight: normal;
  }
  .room--header {
    background-color: @room-disabled-bg-color;
  }
  .room--body {
    background-color: @room-disabled-bg-color;
  }
  .room--header-title,
  .room--selection-container {
    opacity: .6;
  }
}